DOMAIN="127.0.0.1"
TITLE="FT_TRANSCENDANCE"

# DATABASE
POSTGRES_PORT="5432"
POSTGRES_USER="yupthisworks"
POSTGRES_PASSWORD="notwhatyouthinkitis"
POSTGRES_DATABASE="mydb"

# FRONTEND
FRONT_PORT="80"
VITE_URL=${DOMAIN}

# BACKEND
API_HOST="localhost"
API_PORT="3001"
API_URL="localhost"

# 42 API
VITE_FT_CLIENT_ID=""