:root {
    --main-color: #3498db; /* Remplacez cette valeur par la couleur souhaitée */
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #9b9b9b;
}

body-msg {
    -webkit-front-something: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background: black;
}

.container-fluid {
    
    .row-trayLeft {
        height: 70px;
        background-color: #000;
        border-right: 0.1px solid gray;
    }
    .row-chatChannel {
        height: calc(100vh - 70px);
        background-color: rgb(153, 146, 146, 0.2);
        border-right: 0.1px solid gray;
    }
    .row-trayRight {
        height: 70px;
        background-color: blue;
        
    }
    .row-chatPanel {
        overflow-y: auto;
        height: calc(100vh - 140px);
        background-color: transparent;
    }
    .row-chatBox {
        background-color: transparent;
        height: 70px;
    }
}



.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}



.settings-tray {

    padding: 10px 15px;
    /*vertical-align: baseline;*/

    .profile-image {
        
        &:hover {
            cursor: pointer;
        }
    }

    i {
        font-size: 25px;
        color: #000;
        opacity: 0.7;
        
        margin-right: 20px;
        &:hover {
            color: #74b9ff;
            cursor: pointer;
        }
    }
}
.settings-tray--left {
    background: #eee;
}
.settings-tray--right {
    background: #eee;
    .text h6 {
        color: black;
        margin-top: 15px;
        margin-left: 20px;
    }

    i {

        &:active {
            color: red;
        }
    }
}

.search {
    background: white;
    /*margin: 10px auto;*/
    padding: 10px 13px;

    .input-wrapper {
        background: #eee;
        border-radius: 40px;
        i {
            color: gray;
            vertical-align: middle;
            margin-left: 7px;
            background-color: transparent;
        }
        
        input {
            border: none;
            border-radius: 40px;
            width: 80%;
            background: #eee;

            &::placeholder {
                color: purple;
                font-weight: 400;
                opacity: 0.3;
            }

            &:focus {
                outline: none;
            }
        }
    }
}


.chat {
    
    position: absolute;
    width: 33.2%;
    
    .friend {
        padding: 10px 15px;
        background: #fff;

        .text {
            margin-left: 12px;
            width: 70%;

            h6 {
                color: rgb(26, 25, 25);
                margin-top: 6px;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
        }
        .time-msg {
                color: gray;
        }
    
    }


    .conversation-list {
        /*overflow: auto;*/
        height: calc(100vh - 116px);
        
        .conversation {
            position: relative;
            overflow: visible;
            width: 100%;
            
            .dropdown {

                .dropdown-menu {
                    overflow: visible;
                    position:absolute;
                }
            }
        }
    }
}


.list-contact {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;

    .contact {
        .text {
            color: black;
            font-weight: 500;
        }
    }
}

.--onhover {

    &:hover {
        background-color: #74b9ff;
        cursor: pointer;

        p, h6, .time-msg {
            color: #fff;
        }

        .i-down {
            opacity: 1;
            font-size: 15px;
            margin-left: 11px;
            transition: opacity 0.3s ease-in-out;
        }
    }

    .i-down {
        opacity: 0;
    }
}


.hide {
    display: none !important;
}
.active {
    display: block;
}

.invisible-x {
    visibility: hidden;
    :not(.search) {
        opacity: 0;
        transform: translate(-100%);
    }
}

.visible-x {
    opacity: 1;
    visibility: visible;
    :not(.search) {
        transform: translateX(0);
    }
    transition: opacity 0.8s, transform 0.8s cubic-bezier(.5, 0, 0, 1);
}

.invisible-y {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);
}
.visible-y {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.8s, transform 0.8s cubic-bezier(.5, 0, 0, 1);
}

.panel-principal {
    background-color: white; 
    height: 100%;
}

.channel {
    position: absolute;
    /*adjust display absolute*/
    width: 33.2%;

    .add-channel {
        
        background: #eee;
        height: 70px;
        /*.i-add {
            font-size: 3rem;
            color:rgb(109, 100, 100);
            opacity: 0.3;
            &:hover {
                cursor: pointer;
                color: #74b9ff;
                opacity: 1;
            }
        } */
    }
    .home-channel {
        position: relative;
        height: calc(100vh - 187px);
        background-color: white;
        flood-color: #74b9ff;
        .i-home-channel {
            font-size: 10rem;
        }
        
        #inputFileId {
            display: none;
        }
    }  
}


.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid rgba(0, 0, 0, 0);
        border-bottom: 0;
        margin-top: -10px;
    }
}
.chat-bubble--left {

    color: rgb(26, 25, 25);
    &::after {
        left: 0;
        border-right-color: #eee;
        border-left: 0;
        margin-left: -20px;
    }
}
.chat-bubble--blue {
    background: #74b9ff;
    color: #fff;
}
.chat-bubble--right {

    &::after {
        right: 0;
        border-left-color: #74b9ff;
        border-right: 0;
        margin-right: -20px;
    }
}

.chat-box {
    border-top: 1px solid #ddd;
    background: #eee;
    height: 100%;
    /*Ypadding: 0 30px;  X*/
    /*margin-top: 19px;*/
    align-items: center;

    .inputCustom {
        margin: 0 15px;
        padding: 6px 8px;
        border: none;
        border-radius: 6px;
        width: 85%;
        height: 40px;
        line-height: 40px;
        color: rgb(100, 96, 96);
        
        &:focus {
            outline-color: rgb(161, 13, 161);
        }

        /*&::placeholder {
        color: red;
        font-weight: 400;
        }*/
    }

    i {
        color: rgb(100, 96, 96);
        vertical-align: middle;
        font-size: 25px;

        &:hover {
        color: #74b9ff;
        cursor: pointer;
        }
    }
    .i-send {
        transform: rotate(45deg);
    }
}

.disabled {
    pointer-events: none;
    
    input {
        /*background-color: #746f6f;*/
        color: #999; /* Couleur du texte du placeholder */
        font-style: italic; /* Style du texte du placeholder */
    }
}

/*Test effect on button add channel*/
.i-add {

    opacity: 0.3;
    color:rgb(109, 100, 100);
    position: relative;
    background-color: transparent;
    font-size: 3rem;
    cursor:pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .i-add:hover {
    cursor: pointer;
    color: #74b9ff;
    opacity: 1;
    transition-duration: 0.1s;
    background-color: transparent;
  }
  
  .i-add:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 3em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .i-add:active:after {
    box-shadow: 0 0 0 0 #74b9ff;;
    position: absolute;
    border-radius: 3em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .i-add:active {
    top: 1px;
  }

/*----input channel name----*/
.form__group {
position: absolute;
bottom: 20%;
padding: 15px 0 0;
margin-top: 10px;
width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1rem;
    color: black;
    opacity: 0.5;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    

}

.form__field::placeholder {
color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
font-size: 1.3rem;
cursor: text;
top: 20px;
}

.form__label {
position: absolute;
top: 0;
display: block;
transition: 0.2s;
font-size: 1rem;
color: var(--gray);
}

.form__field:focus {
~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;    
}
padding-bottom: 6px;  
font-weight: 700;
border-width: 3px;
border-image: linear-gradient(to right, var(--primary), var(--secondary));
border-image-slice: 1;
}

/* Reset input */
.form__field:required,
.form__field:invalid {
box-shadow: none;
}

.cam  {
    /*z-index: 2;*/
    position: absolute;
    top: 48%;
    right: 35%;
    color: var(--primary);
    font-size: 3rem;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        color: #74b9ff;
        pointer-events: auto;
    }
}

.circle {
    /*z-index: 1;*/
    position: absolute;
    top: 15%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /*border: 2px solid;*/
    overflow: hidden;
    background-color: var(--gray);

    .circle-image {
        width: 100px;
        height: 1OOpx;
        font-size: 200px;
    }

}


.profile-image-channel {
    width: 72px;
    height: 72px;
    border-radius: 25px;
    transition: 0.6s
}
.channel-list {

    align-items: center;
    justify-content: center;
    height: 110px;
    width: 95%;
    background: #eee;
    margin-top: 5px;
    margin-left: 11px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 0.5px solid;
    transition: 0.3s;


    h6 {
        transition: 0.9s;
        margin-top: 3px;
        color:rgb(26, 25, 25);
        opacity: 0.8;
        flood-color: #38ef7d;
        font-size: medium;
    }
}
