
.profile-image { 
	width: 50px;
	height: 50px;
	border-radius: 25px; 
  }
  
  .settings-tray {
	background: $grey;
	padding: 10px 15px;
	//border-radius: 7px;
	
	i {
	  margin-top: 10px;
	  margin-right: 10px;
	  font-size: 25px;
	  color: black;
	  margin-left: 14 px;
	  
	  &:hover {
		color: $blue;
		cursor: pointer;
	  }
	}
  }
  
  .search-box {
	background: $grey;//#fafa;
	padding: 10px 13px;
	
	.input-wrapper {
	  background: #fff;
	  border-radius: 40px;
	  
	  i {
		 color: grey;
		 vertical-align: middle;
		 margin-left: 7px;
	  }
	}
	
	input {
	  border: none;
	  border-radius: 40px;
	  width: 80%;
	  
	  &::placeholder {
		color: pink;//#e3e3e3;
		font-weight: 400;
	  }
	  
	  &:focus {
		outline: none;
	  }
	  
	}
  }
  
  .friend-drawer {
	padding: 10px 15px;
	display: flex;
	vertical-align: baseline;
	background: #fff;
	transition: .3s ease;
	
	&--grey {
	  background: #eee;
	}
	
	.text {
	  margin-left: 12px;
	  width: 70%;
	  
	  h6 {
		margin-top: 6px;
		margin-bottom: 0;
	  }
	  
	  p {
		margin: 0;
	  }
	}
	
	.time-msg {
	  color: grey;
	}
	
	&--onhover:hover {
	  background: $blue;
	  cursor: pointer;
	  
	  p,
	  h6,
	  .time-msg {
		color: #fff;
	  }
	  
	  .icon-hidden {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
		//transform: translate(-50%, -50%);
	  }
	  
	}
	.icon-hidden {
		opacity: 0;
	}
  
  }
  
  hr {
	margin: 5px auto;
	width: 60%;
  }
  
  .chat-bubble {
	padding: 10px 14px;
	background: #eee;
	margin: 10px 30px;
	border-radius: 9px;
	position: relative;
	animation: fadeIn 1s ease-in;
	
	&:after {
	  content: '';
	  position: absolute;
	  top: 50%;
	  width: 0;
	  height: 0;
	  border: 20px solid transparent;
	  border-bottom: 0;
	  margin-top: -10px;
	}
	
	&--blue {
	  background: $blue;
	  color: #fff;
	}
	
	&--left {
	  &:after {
		left: 0;
		border-right-color: #eee;
		border-left: 0;
		margin-left: -20px;
	  }
	}
	
	 &--right {
	  &:after {
		right: 0;
		border-left-color: $blue;
		border-right: 0;
		margin-right: -20px;
	  }
	}
  }
  
  .chat-box-tray {
	border-top: 1px solid #ddd;
	background: #eee;
	align-items: flex-end;
	padding: 10px 15px;
	margin-top: 19px;
	//position: absolute;
	//bottom: 0;
	
	input {
	  margin: 0 10px;
	  padding: 6px 2px;
	  border: none;
	  border-radius: 6px;
	  width: 80%;
	}
	
	i {
	  color: grey;
	  vertical-align: middle;
	  font-size: 25px;
	  
	  &:last-of-type {
		margin-left: 25px;
	  }
	}
  }