#gameContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
}

#start-game,
#stop-game,
#reset-game {
  background-color: var(--violet);
  color: var(--vert);
  border-radius: 20px;
  margin-top: 18px;
  font-family: 'Titan One', sans-serif;
}

#start-game:hover,
#stop-game:hover,
#reset-game:hover {
  background-color: var(--vert);
  color: var(--violet);
}

#start-game:active,
#stop-game:active,
#reset-game:active {
  background-color: var(--violet);
  color: var(--vert);
  border-color: #ffffff;

}


.night-mode #start-game,
.night-mode #stop-game,
.night-mode #reset-game {
  border: 2px solid #ffffff;
  background-color: black;
  color: #fff;
}

.night-mode #start-game:hover,
.night-mode #stop-game:hover,
.night-mode #reset-game:hover {
  color: black;
  background-color: white;
  border-color: #ffffff;
}

.night-mode #start-game:active,
.night-mode #stop-game:active,
.night-mode #reset-game:active {
  background-color: black;
  color: white;
  border: none;
}

#scoreText {
  font-family: "consolas", monospace;
  font-size: 50px;
}

.modalGame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.modalGame-content {
  padding: 20px;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-body {
  flex-grow: 1;
  overflow: auto;
}

.modalCenter {
  top: 30%;
  transform: translate(-10%) !important;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* SCORE CONTAINER */
.score-container {
  width: 250px;
  /* Largeur de l'encadrement */
  /* height: 65px; */
  height: fit-content;
  /* Hauteur de l'encadrement */
  background-color: var(--vert);
  /* Couleur de fond */
  border: 5px solid var(--violet);
  /* Bordure blanche */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* Ombre pour simuler l'épaisseur du tableau noir */
  border-radius: 30px;
  /* Coins arrondis */
  display: flex;
  /* Affichage en flexbox */
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  margin-top: 19px;
  margin-bottom: 54px;
  margin-right: 10px;
  top: auto;
  /* bottom: 0; */
}

.night-mode .score-container {
  background-color: white;
  /* Couleur de fond */
  border: 5px solid black;
  /* Bordure blanche */
}

.score {
  color: #FFF;
  /* Couleur du texte */
  font-size: 24px;
  /* Taille de la police */
}

.night-mode .score {
  color: #000;
}

/* GAME RULES */
.blackboard {
  text-align: center;
  width: 250px;
  background-color: black;
  /* Couleur de fond du tableau noir */
  color: white;
  /* Couleur du texte */
  font-family: 'Chalkduster', cursive;
  /* Police de caractères ressemblant à de l'écriture à la craie */
  padding: 20px;
  /* Espace intérieur du tableau noir */
  border-radius: 20px;
  /* Bordures arrondies */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* Ombre pour simuler l'épaisseur du tableau noir */
  margin-right: 10px;
}

.marginLeft {
  margin-left: 10px;
}

.blackboard h2 {
  font-size: 28px;
  /* Taille de la police pour les titres */
  margin-bottom: 20px;
  /* Marge en bas des titres */
}

.blackboard p {
  font-size: 18px;
  /* Taille de la police pour le texte */
  margin-bottom: 15px;
  /* Marge en bas des paragraphes */
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.rule {
  position: relative;
}

#rulesContent {
  display: none;
  /* display: bock; */
}

.toggle-button {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}


.toggle-line {
  display: none;
  border: none;
  border-top: 1px solid white;
  /* Couleur et épaisseur du trait */
  width: 100%;
  /* Longueur du trait */
}

@media screen and (max-width: 992px) {
  .position-relative {
    position: relative !important;
  }

  .position-absolute {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .rule.blackboard {
    display: none;
  }
}

/* PSEUDO GAME */
.pseudoGame {
  font-size: 14px;

}

.night-mode .pseudoGame {
  color: #000;
}

/* BADGE */
.badge {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.night-mode .badge {
color: #000;
}

.rule.blackboard {
  position: absolute;
  margin-top: 190px;
}
