#gameContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000;
}

#start-game,
#stop-game,
#reset-game {
    background-color: var(--violet);
    color: var(--vert);
    border-radius: 20px;
    margin-top: 10px; /* Ajoutez une marge en haut pour l'esthétique */
}

#scoreText {
    font-family: "consolas", monospace;
    font-size: 50px;
}

/* ANCIENNEMENT PONG.CSS

#body-pong {
	color: black;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000;
}

.pong-table {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: #000;
	border: 2px solid #fff;
}

#ball,
#left-paddle,
#right-paddle {
	position: absolute;
	background-color: #fff;
}

#ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#left-paddle,
#right-paddle {
	width: 10px;
	height: 80px;
	top: 50%;
	transform: translate(0, -50%);
}

#left-paddle {
	left: 0;
}

#right-paddle {
	right: 0;
}

.test {
	color: white;
	font-size: 34px;
} */