.container_homeLeft {
	border-radius: 30px;
	background-color: #9016B2;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #87d300;
	margin: 5% 0;
}

.game-btn {
	margin: auto;
	background: none;
	border: none;
	cursor: pointer;
}

.game-img {
	transition: transform 0.3s;
	max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
	position: relative;
	vertical-align: middle;
}

.game-btn:hover .game-img {
	transform: scaleY(-1);
}

.container_homeRight {
	border-radius: 30px;
	background-color: #87d300;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #9016B2;
	margin: 5% 0;
}

.chat-btn {
	margin: auto;
	background: none;
	border: none;
	cursor: pointer;
}

.bulles-img {
	width: 100%;
	transition: transform 0.3s;
}

.chat-btn:hover .bulles-img {
	transform: scaleX(-1);
}
















.container-info {
	margin-bottom: 50px;
}

/* Styles spécifiques pour le login-container en mode nuit */
.night-mode .container_homeLeft {
	background-color: black;
	color: white;
}

@media (max-width: 1160px) {
	.flex-container {
		flex-direction: column;
	}

	.container_homeLeft,
	.container_homeRight {
		margin: 10px;
	}
}

@media (prefers-color-scheme: dark) {
	.night-mode .container_homeLeft {
		border: 3px solid white;
	}
}

.night-mode .container_homeRight {
	background-color: black;
	color: white;
}

@media (prefers-color-scheme: dark) {
	.night-mode .container_homeRight {
		border: 3px solid white;
	}
}

.night-mode .chat-btn .bulles-img {
	filter: invert(1);
}