/* Styles pour les containers de gauche et de droite */
.container-left-user {
	flex: 1;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.container-right-user {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

/* Style pour la vidéo en arrière-plan */
.videoCustom {
	border-radius: 5%;
}

.night-mode .videoCustom {
	filter: grayscale(100%);
}

/* Style pour le contenu du container de droite */
.container-profile-info-user {
	text-align: center;
	margin-bottom: 20px;
}

.nicknameUser {
    font-size: 28px;
    white-space: nowrap;
     /* Empêche le texte de passer à la ligne */
    text-overflow: ellipsis; 
    /* Ajoute des points de suspension (...) pour indiquer le texte coupé */
    margin-right: 10px;
}


.modNavUser {
	color: var(--violet) !important;
	font-size: 15px;
}

.night-mode .modNavUser {
	color: var(--gris) !important;
}

.night-mode .modNavUser:focus {
	color: black !important;
}

.night-mode .modNavUser:active {
	color: white !important;
}

/* Styles personnalisés pour les petits onglets de la page user*/
.customUserTab {
    max-width: 90px; /* Défini la largeur maximale des onglets */
    white-space: nowrap; /* Empêche le texte de se retourner */
    overflow: hidden; /* Masque le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute des points de suspension à la fin du texte si celui-ci dépasse */
	font-size: 13px;
}

.userBtn {
	font-size: 12px !important;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tabCustUser {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 21px;
	font-family: 'Titan One', sans-serif;
}

.userStat {
	margin-top: 14px;
	justify-content: center;
}

.matchHistTableUser {
	font-family: 'Spoof', sans-serif;
	font-size: 12px;
}