#root {
	/* color-scheme: dark light; */
	color: white;
	font-family: 'Spoof', sans-serif;
	font-family: 'Titan One', cursive;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	/* background: linear-gradient(to bottom right,var(--violet), var(--vert)); */
	/* color: black; */
	background-image: url(img/table-tennis-4046277_640.jpeg);
	background-color: white;
	margin: 0;
	/* display: flex; */
	place-items: center;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	min-height: 100vh;
}

header {
	size: 20px;
	font-size: 2rem;
	font-weight: 900;
	background-color: white;
}


.navColor {
	background-color: white;
}


.ulLiA {
	font-size: 20px;
	display:inline-block;
	justify-content:center;
	align-items: center;
	/* float: right; */
	/* width:100px; */
	/* background-color:#6495ED; */
	color: var(--violet);
	/* text-decoration:none; */
	/* text-align:center; */
	padding:3px;
	/* border:2px solid; */
	/*pour avoir un effet "outset" avec IE :*/
	/* border-color:#DCDCDC #696969 #696969 #DCDCDC; */
}

.ulLiA li {
	margin-right: 25px; /* Ajoute une marge à droite pour créer un espace entre les éléments */
	margin-left: 25px; /* Ajoute une marge à gauche pour créer un espace entre les éléments */
}

/* Style de base des liens du menu */
.ulLiA a {
    color: #9016B2; /* Couleur de base */
    text-decoration: none; /* Supprime la soulignement des liens */
    transition: color 0.3s; /* Ajoute une transition de couleur */
}

/* Style au survol */
.ulLiA a:hover {
    color: #87d300; /* Couleur au survol */
}

/* Style au clic */
.ulLiA a:active {
    color: grey; /* Couleur lors du clic */
}

.logo {
	/* background: url('Pong-Chos_LOGO.png') no-repeat; */
	/* background-size: contain; */
	width: 100px; /* Ajustez la largeur selon besoins */
	height: 100px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px; /* espace entre logo et textes du menu */
}

.degrade-horizontal {
	background: linear-gradient(to bottom, var(--violet), white, var(--vert));
}

.lineUnderNav {
    position: relative;
}

.lineUnderNav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* ou la taille que vous souhaitez pour votre bordure */
    background-image: var(--degrade-color); /* Remplacez les couleurs par celles de votre dégradé */
}

.bg-violet {
    background-color: #9016B2;
    color: #9016B2;
    font-family: 'Spoof', sans-serif;
	}

.bg-vert {
    background-color: #9016B2;
    color: #87d300;
    font-family: 'Spoof', sans-serif;
	}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

form {
	position: relative;
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1.3em 1.3em 1.3em;
} */

.login-container {
    border-radius: 30px;
    background-color: #9016B2;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centrer le rectangle horizontalement */
    max-width: 400px; /* Limiter la largeur pour une meilleure lisibilité */
    height: 250px;
    margin-top: 20px;
    font-family: 'Titan One', sans-serif;
    color: #87d300;
    font-size: 40px;
    margin: 13% auto;
    text-align: center;
}

/* Style du bouton normal */
.login-container button {
	border: 2px solid #ffffff; /* Bordure blanche */
	background-color: #87d300; /* Fond vert */
	color: #9016B2; /* Texte violet */
	transition: all 0.3s; /* Transition douce pour le survol et le clic */
	font-family: 'Titan One', sans-serif;
	font-size: 20px;
}

/* Style du bouton survolé */
.login-container button:hover {
	color: #ffffff; /* Texte blanc au survol */
	background-color: #87d300; /* Fond vert au survol */
	border-color: #ffffff;
}

/* Style du bouton cliqué */
.login-container button:active {
	background-color: #87d300; /* Fond vert au clic */
	color: #9016B2; /* Texte violet au clic */
	border: none; /* Pas de bordure au clic */
/* border: 2px solid transparent; Bordure transparente au clic */
}

/* Style du bouton normal */
.login-container button {
	border: 2px solid #ffffff; /* Bordure blanche */
	background-color: #87d300; /* Fond vert */
	color: #9016B2; /* Texte violet */
	transition: all 0.3s; /* Transition douce pour le survol et le clic */
	font-family: 'Titan One', sans-serif;
	font-size: 20px;
}

/* Style du bouton survolé */
.login-container button:hover {
	color: #ffffff; /* Texte blanc au survol */
	background-color: #87d300; /* Fond vert au survol */
	border-color: #ffffff;
}

/* Style du bouton cliqué */
.login-container button:active {
	background-color: #87d300; /* Fond vert au clic */
	color: #9016B2; /* Texte violet au clic */
	border: none; /* Pas de bordure au clic */
/* border: 2px solid transparent; Bordure transparente au clic */
}
