#root {
	color-scheme: dark light;
	background-color: black;
	color: white;
	font-family: Helvetica;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background: linear-gradient(to bottom right,var(--violet), var(--vert));
	color: black;
	margin: 0;
	display: flex;
	place-items: center;
	justify-content: center;
	align-items: center;
	vertical-align: middle;

	min-height: 100vh;
}

header {
	size: 20px;
	font-size: 2rem;
	font-weight: 900;
}

.container nav_class {
	size: 20px;
}

.logoNav {
	size: 20px;
	align-items: center;
}
/* 
.card {
	padding: 2em;
	background-color: navy;
	width: 32vw;
	height: 42vh;
	border-radius: 42px;
	position: absolute;
	transform: 'translate(-50%, -50%)';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}*/

button {
	border-radius: 8px;
	border: 3px solid var(--vert);
	margin: 0em;
	padding: 1em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--violet);
	cursor: pointer;
	transition: color var(--vert);
	transition: all 0.5s;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	color: var(--vert);
} 

button:hover {
	background-color: var(--vert);
	color: var(--violet);
	border: 3px solid var(--violet);
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

form {
	position: relative;
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1.3em 1.3em 1.3em;
} */ */
