/* navbar*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	display: inline-block; /* Remplace float: left; */
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: #9016B2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.logo {
	background: url('Pong-Chos_LOGO.png') no-repeat;
	background-size: contain;
	width: 64px; /* Ajustez la largeur selon vos besoins */
	height: 64px; /* Ajustez la hauteur selon vos besoins */
}

.logo-container {
	margin-right: 20px; /* Ajoute une marge à droite pour l'espace entre le logo et la barre de navigation */
}

li a:hover:not(.active) {
	background-color: white;
}

.active {
	background-color: white;
}
