/* page HOME */

.container_stat {
	margin-top: 50px;
    margin-left: 70px; /* Ajustez la valeur de la marge selon vos besoins */
}

.home-container {
	border-radius: 30px;
	background-color: #9016B2;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* margin: 0 auto; Supprimez cette ligne */
	max-width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #87d300;
	margin: 5% 0; /* Ajustez la marge supérieure et inférieure si nécessaire */
	text-align: left;
}

.container_home_right {
	margin-top: 50px;
	margin-left: 30px;
    margin-right: 30px; /* Ajustez la valeur de la marge selon vos besoins */
}

.homer-container {
	border-radius: 30px;
	background-color: #87d300;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* margin: 0 auto; Supprimez cette ligne */
	max-width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #9016B2
	margin: 5% 0; /* Ajustez la marge supérieure et inférieure si nécessaire */
	text-align: left;
}

.game-btn {
	margin-top: 15px;
	margin-left: 12px;
    background: none;
    border: none;
    cursor: pointer;
}

.game-img {
    width: 100%; /* Assurez-vous que l'image remplit le bouton */
}