    <!-- Modal Bootstrap Verena FD fenetre de droite bouton blocked -->
    <div class="modal fade" id="modalBlocked" aria-labelledby="modal-blocked" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Contact Blocked</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <p>Pseudo 1 blocked
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Description du bouton">
                    <img src="/frontend/app/src/img/debloquer.png" alt="Unblock the contact">
                  </button>
                    </p>
                    <p>Pseudo 2 blocked
                        <button type="button" class="btn btn-success unBlocked">Unblock</button>
                    </p>
                    <p>Pseudo 3 blocked
                        <button type="button" class="btn btn-success unBlocked">Unblock</button>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-vert" data-dismiss="modal" aria-label="close">Close</button>
                </div>
            </div>
        </div>
	</div>