asgiref==3.7.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
build==1.0.3
CacheControl==0.13.1
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
cryptography==41.0.7
daphne==4.0.0
Django==5.0
Pillow==10.2.0
psycopg2-binary==2.9.9
pyOpenSSL==23.3.0
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
Twisted[tls,http2]==23.10.0
txaio==23.1.1
whitenoise==6.6.0