/* page HOME */

.container_hl {
	margin-top: 200px;
    margin-left: 300px; /* Ajustez la valeur de la marge selon vos besoins */
	margin-bottom: 200px;
}

.container_homeLeft {
	border-radius: 30px;
	background-color: #9016B2;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* margin: 0 auto; Supprimez cette ligne */
	max-width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #87d300;
	margin: 5% 0; /* Ajustez la marge supérieure et inférieure si nécessaire */
	text-align: left;
}



.game-btn {
	margin-top: 15px;
	margin-left: 12px;
    background: none;
    border: none;
    cursor: pointer;
}

.game-img {
	width: 100%;
	transition: transform 0.3s;
}

.game-btn:hover .game-img {
    transform: scaleY(-1); /* Inversion horizontale de l'image au survol */
}

.container_hr {
	margin-top: 200px;
	/* margin-left: 300px; */
	margin-right: 50; /* Ajustez la valeur de la marge selon vos besoins */
}

.container_homeR {
	border-radius: 30px;
	background-color: #87d300;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* margin: 0 auto; Supprimez cette ligne */
	max-width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #9016B2;
	margin: 5% 0; /* Ajustez la marge supérieure et inférieure si nécessaire */
	text-align: left;
}

/* Styles spécifiques pour le login-container en mode nuit */
.night-mode .container_homeLeft{
	background-color: #222;
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	.night-mode .container_homeLeft {
		border: 3px solid white;
	}
}

.night-mode .container_homeR{
	background-color: #222;
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	.night-mode .container_homeR {
		border: 3px solid white;
	}
}

.chat-btn {
    margin-top: 50px;
    margin-left: 70px;
    display: flex; /* Utilisez display: flex; pour activer le modèle de boîte flexible */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background: none;
    border: none;
    cursor: pointer;
}

.bulles-img {
    width: 100%;
    transition: transform 0.3s;
}

.chat-btn:hover .bulles-img {
    transform: scaleX(-1);
}

/* mode sombre */

.night-mode .chat-btn .bulles-img {
    filter: contrast(0%);
}
