{% extends template %}
{% load static %}

{% block title %}
<title>LOGIN</title>
{% endblock %}

{% block content %}
<section id="app" class="py-5">
	<div class="container">
		<div class="row gy-4">
			<div class="col-12 col-md-12">
				<div class="login-container">
					<h1>Log in</h1>
					<form action="/accounts/login/" method="post">
						{% csrf_token %}
						<button type="submit" class="btn bg-vert">Connexion</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container-info">
		<section class="">
			<div class="container-fluid">
				<div class="welcomeHome">
					<div class="">Welcome to the Pong-Chos website&nbsp;!
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						To access to the game and the chat, please log in &nbsp; ☺︎</div>
				</div>
			</div>
		</section>
	</div>
	<section>
		<div class="espace">
			<div class="container-fluid">
				<p></p>
			</div>
		</div>
	</section>
</section>
{% endblock %}