{% extends template %}
{% load static %}
{% block title %}<title>CHAT</title>{% endblock %}

{% block content %}
<div id="app" class="container-fluid px-0 mx-0">
	<div class="row g-0">

		<!-- start col-md-4 -->
		<div class="col-md-4">

			<!-- nested row1 -->
			<div class="row row-trayLeft g-0">

				<div class="col-md-12">

					<form action="/accounts/profil/picture/" method="get"
						class="settings-tray settings-tray--left d-flex align-items-center bgVert">
						<img class="profile-image" src="{{ profil_picture_url }}" alt="Profile image"
							title="{{ request.user.nickname }}">
						{% csrf_token %}
					</form>
					<form action="/accounts/profil/username/" method="get" class="test">
						{% csrf_token %}
						<span class="nicknameUser" id="userId">{{ request.user.username }}</span>
					</form>
				</div>
			</div>

			<!-- nested row2 -->
			<div class="row row-chatChannel g-0">
				<div class="col-md-12">

					<div class="chat" id="chatId">

						<div class="search" id="searchContactId">
							<div class="input-wrapper">
								<i class="search bi-search-heart t-violet"></i>
								<input class="t-violet" type="text" id="searchContact" placeholder="Search contact here"
									data-search>
								</input>
							</div>
						</div>

						<div class="list-contact invisible-y" id="listContact" list-contact-container>
						</div>


						<div class="conversation-list visible-x" id="conversationListId"></div>

					</div>

				</div>
			</div>

		</div>
		<!-- col-md-4 close -->

		<!-- start col-md-8 -->
		<div class="col-md-8">

			<!--first panel display-->
			<div class="panel-principal col-md-12" id="panelPrincipalId">
			</div>

			<!-- conversation-history -->
			<div class="conversation-history" id="conversationHistoryId" data-conversation-history>
			</div>

		</div>
		<!-- col-md-8 close -->

	</div>
</div>
{% endblock %}