<!-- template.html -->

<!-- contacts list -->
<template list-contact-template>
    <div class="contact friend --onhover border-top d-flex align-items-center" id="" contact-container>
        <img src="{{ profil_picture_url }}" alt="Friend photo" class="profile-image" data-image>
        <span class="text" data-name></span>
        <span class="full-nickname" style="display:none;" data-full-name></span>
        <span class="status-indicator" id="onLineStatus" data-status="{{ user.status }}"></span>
    </div>
</template>

<!-- conversations list -->
<template conversation-template>
    <div class="conversation friend --onhover d-flex" id="">
        <img src="{{ profil_picture_url }}" alt="Friend photo" class="profile-image" data-image>
        <div class="text" data-text>
            <span class="status-indicator" id="onLineStatus" data-status="{{ user.status }}"></span>
            <h6 class="t-bleu"></h6>
            <p class="text-muted" id="textMuted"></p>
        </div>
        <div class="ms-auto">
            <span class="time-msg small" id="timeMsg"></span>
            <div class="dropdown" id="dropmenuId">
                <i class="i-down bi-chevron-down dropup" id="menuDownLeftId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                </i>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><button class="dropdown-item" type="button" id="delId">Delete</button></li>
                    <li><button class="dropdown-item" type="button" id="unreadId">Mark unread</button></li>
                    <li><button class="dropdown-item" type="button" id="blockUnblockId">Block contact</button></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<!-- conversations history-->
<template conversation-history-template>
    <!-- nested row1 -->
    <div class="row row-trayRight g-0 setTray">
        <div class="col-md-12">
            <div class="settings-tray settings-tray--right d-flex align-items-center bgViolet" id="settingsTrayId">
                <img class="profile-image" id="contactImgProfil" data-nickname="friendNickname"
                    src="{{ profil_picture_url }}" alt="Friend Image" data-toggle="tooltip" title="Detail du profil"
                    data-image>
                <div class="text" id="setName" data-text>
                    <h6 class="t-vert" id="friendName"></h6>
                </div>

                <button type="button" class="btn btn-dark ms-auto invitation" data-toggle="button" aria-pressed="false"
                    autocomplete="off" id="invitation">
                    Invitation
                </button>
                <!--
                <span class="dropdown ms-auto">
                    <i class="bi bi-three-dots-vertical bi-da-violet" data-toggle="tooltip" title="Menu"
                        id="menuButtonRight" data-bs-toggle="dropdown" aria-expanded="false">
                    </i>
                    <ul class="dropdown-menu" aria-labelledby="menuButtonRight"
                        style="--bs-dropdown-bg: var(--violet);">
                        <li><a class="dropdown-item daFront" href="#">Invitation</a></li>
                        <li><a class="dropdown-item daFront" href="#">Block contact</a></li>
                    </ul>
                </span>
                -->
            </div>
        </div>
    </div>

    <!-- nested row2 -->
    <div class="row row-chatPanel g-0" id="rowChatPanel">
        <div class="col-md-12 siteDa">

            <div class="contact-profil d-flex flex-column align-items justify-content-between invisible-y bgVert bottomR20"
                id="contactProfil">
                    <a role="button" class="col-lg-6 btn invitationBtn" id="checkProfil" href="/user"
                        data-link="/user" alt="Check user profil">Click Here to Check the
                        User Profil !</a> <br>
                <!-- <button type="button" class="col-lg-6 btn bg-vert invitationBtn" id="checkProfil" data-bs-target="#goToProfil">Click Here to Check the User Profil !</button> -->
                <div class="row align-items-center justify-content-around">
                    <button type="button" class="col-lg-6 btn bg-vert invitationBtn" data-bs-target="#BlockFriend">Block Friend</button>
                    <br />
                    <button type="button" class="col-lg-6 btn bg-vert invitationBtn" id="delId">Remove
                        friend</button>
                </div>
            </div>
            <!-- start chat panel -->
            <div class="chat-panel" id="chatPanelId"></div>
        </div>
    </div>

    <!-- nested row3 -->
    <div class="row row-chatBox g-0">
        <div class="col-md-12">
            <!-- message bar -->
            <div class="chat-box d-flex align-items-center justify-content-center hide" id="chatBoxId">
                <!-- <i class="i-emoji bi-emoji-sunglasses" id="emoji-id"></i> -->
                <input class="inputCustom" id="input-id" />
                <i class="i-send bi-send" id="send-id"></i>
            </div>
            <!-- close message bar -->
        </div>
    </div>
</template>