{% extends template %}
{% load static %}
<script src="{% static 'js/theme.js' %}"></script>

{% block title %}
<title>ERROR</title>
{% endblock %}

{% block content %}
<div id="app">
	{% if error_message %}
	<div class="alert alert-danger">
		{{ error_message }}
	</div>
	{% endif %}
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="container_homeLeft">
				<div class="paragraph">
					<p class="fontSizeTitle">ERROR </p>
					<p class="fontSize">This user is not known in our database. Until you find the right one, feel free
						to learn this wonderful song.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-info">
		<section class="py-4 mb-4 text-center">
			<div class="container-fluid">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6">
						<div class="sancho">
							<p class="custom-spacing">Je suis Sancho de Cuba
								J'ai le sang chaud pour la Rumba
								En jouant des maracas
								Je fais tchik tchiki
								boum tchik tchiki boum
								C'est moi Sancho le Cubain
								La coqueluche de tous les voisins
								Et puis quand je danse
								Tout redevient tchik tchiki
								boum tchik tchiki boum
								Les señoritas elles
								chantent, elles dansent
								Comme ça elles balancent
								Comme c'est charmant
								Plein de piment
								La fièvre de la Rumba
								Si elle te prend ne resiste pas
								Comme une fille qui s'offre à toi
								OUH !
								Si tu aime le tempo
								Vient donc danser avec Sancho
								Et tu chanteras tchik tchiki
								boum tchik tchiki boum
								Je suis sa Paquita
								Car ce gars c'est le roi
								De la Havana, de la Havana
								Si Señorita très chic
								Caramba tchiki boum tchik
								Il est charmant
								Plein de piments
								Je pose mes mains sur tes hanches
								Madremia t'en à de la chance
								C'est une bataille
								Petite canaille
								Aïe Aïe Aïe !
								Si tu aime le tempo
								Vient donc danser avec Sancho
								Et tu chanteras tchik tchiki
								boum tchik tchiki boum
								Houmba Houmba c'est chaud
								Kidy bady wha
								LIBRE
								Asta lavis ta!
								Quoi... tu as vraiment lu toute la chanson ?? Viens nous voir, tu as gagné un kinder...
								Tu es encore là ? ... Sois tu es courageux, soit taré, je crois qu'entre les deux, la limite est faible.
								Bon ok lache ton ordi et va parler avec des gens là.
								OUUUUUUST
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}