{% extends template %}
{% load static %}

{% block title %}
  <title>GAME #{{ game_id }}</title>
{% endblock %}

{% block content %}
  <div id="app">
      <p>Joueur 1 : <em id="player-score">0</em> - Joueur 2 : <em id="computer-score">0</em></p>
      <ul>
          <li>
              <button id="start-game">Démarrer</button>
          </li>
          <li>
              <button id="stop-game">Arrêter</button>
          </li>
      </ul>
    <div id="container-board" class="container-board">
      <canvas id="board" width="1200" height="800"></canvas>
    </div>
  </div>
{% endblock %}
