{% load static %}
<div>
  <div class="container text-center">
    <div class="row justify-content-around">
      <a class="container_homeLeft" href="/lobby">
        <div class="game-btn">
          <img class="game-img" src="{% static 'img/game.png' %}" alt="Image du game" />
        </div>
      </a>
      <a class="container_homeRight" href="/chat">
        <div class="chat-btn">
          <img class="bulles-img" src="{% static 'img/Bulles.png' %}" alt="Image des bulles" />
        </div>
      </a>
    </div>
  </div>

  <div class="container-info">
    <section class="py-4 mb-4 text-center">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-6">
            <div class="scrolling-text-container">
              <p class="custom-spacing">Welcome to the Pong-Chos website !</p>
              <p class="custom-spacing"></p>
              <P class="custom-spacing">Choose what do you want to do: play or chat ?</P>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
