{% extends template %}
{% load static %}

{% block title %}
<title>PLAY</title>
{% endblock %}

{% block content %}
<div id="app">
	<div class="container text-center">
		<div class="row align-items-center custom-line">
			<div class="col-6 row justify-content-center custom-line">
				<a class="nav-link btn btn-dark justify-content-around ladButClass marge"
					href="/tourLobby/{{ tournamentId }}" id="ladder_tour" data-link="tourLobby">TOURNAMENT</a>
			</div>
			<div class="col-6 row justify-content-center custom-line">	
				<a class="nav-link btn btn-dark justify-content-around quickButClass marge" href="/lobby/{{ gameId }}"
					id="ladder" data-link="lobby">QUICK PLAY</a>
			</div>
			<br />
		</div>
	</div>
	<div class="container text-center">
		<div class="row align-items-center custom-line">
			<div class="row justify-content-center custom-line">
				<a class="nav-link btn btn-dark justify-content-around ladButClass marge"
					href="/remLobby/{{ remoteId }}" id="ladderRem" data-link="remLobby">REMOTE PLAY</a>
			</div>
		</div>
	</div>			

	<div class="container-fluid">
		<div class="col justify-content-center align-items-center">
			<div class="col-lg-6">
				<div class="scrolling-text-container scrollBall">
					<img src="{% static 'img/balle.png' %}" alt="Scrolling Image" class="custom-image-spacing" />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}