{% extends template %}
{% load static %}

{% block title %}
  <title>PLAY</title>
{% endblock %}

{% block content %}
  <div id="app">
    <div class="container text-center">
      <div class="row align-items-center custom-line">
        <div class="col-6 row justify-content-center custom-line">
          <a class="nav-link btn btn-dark justify-content-around ladButClass" href="/lobby_tour/ {{ tournament_id }}" id="ladder_tour" data-link>TOURNAMENT</a>
          <br />
          <a class="nav-link btn btn-dark justify-content-around quickButClass" href="/lobby/{{ game_id }}" id="ladder" data-link>QUICK PLAY</a>
        </div>
        <div class="col-6 row justify-content-around custom-line inviteToGame">
          <p class="text-center invitFriend">Invite a friend to play</p>
          <div class="row justify-content-between custom-line">

            <input type="text" class="col-3 form-control formCust" placeholder="Enter a username" aria-label="Username" aria-describedby="basic-addon1" />
            <button type="button" class="col-3 btn btn-dark imgButton" id="ladder">INVITE</button>
          </div>
          <p class="joinFriends">FRIEND(S) WHO HAS JOINED :</p>
          <div class="onlineFriendBox">
          <p class="onlineFriend">pseudo1</p>
          <p class="onlineFriend">pseudo2</p>
          <p class="onlineFriend">pseudo3</p>
        </div>
        </div>
      </div>
    </div>

    <br />

    <div class="container-fluid">
      <div class="col justify-content-center align-items-center">
        <div class="col-lg-6">
          <div class="scrolling-text-container scrollBall">
            <img src="{% static 'img/balle.png' %}" alt="Scrolling Image" class="custom-image-spacing" />
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}