<!-- Container GAUCHE btns options et stat-->
<div class="row gy-4 justify-content-center flex-container">
	<div class="col-md-6 mx-auto">
		<div class="container_opt">
			<div class="container-option">
				<form>
					<button type="button" class="btn bg-vert" data-toggle="modal" data-target="#statsModal">
						Statistics</button>
					<img src="img/statistique.png" alt="Statistics Icon" class="icon iconeS">
					<br>
					<button type="button" class="btn bg-vert">Feats</button>
					<img src="img/feats.png" alt="Feats Icon" class="icon iconeF">
					<br>
					<button type="button" class="btn bg-vert">Match History</button>
					<img src="img/historique.png" alt="Match History Icon" class="icon iconeM">
					<br>
					<button type="button" class="btn bg-vert">Settings</button>
					<img src="img/reglages.png" alt="Settings Icon" class="icon iconeSt">
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Container DROITE IMAGE et PSEUDO + btn contact-->
<div class="col-md-6 mx-auto">
	<div class="container_prof">
		<div class="container-profil">
			<form>
				<!-- Add the image and username section -->
				<div class="profile-section">
					<img id="profileImage" src="" alt="Profile Image" class="profile-image">
					<div>
						<button type="button" class="btn bg-vert modImg" id="modifyImageButton">Modifier
							Image</button>
						<input type="file" accept="image/*" id="imageInput" style="display: none;">
						<br>
						<label class="nameID" for="username">Nom: </label>
						<input class="username" type="text" id="username" value="John Doe">
					</div>
				</div>
				<button type="button" class="btn bg-vert" data-toggle="modal"
					data-target="#contactsModal">Contacts</button> <br>
				<button type="button" class="btn bg-vert" data-toggle="modal"
					data-target="#modalBlocked">Blocked</button> <br>
			</form>
		</div>
	</div>
</div>
</div>

<!-- BANNIERE BLEU EN BAS -->
<div class="container-info">
	<section class="py-4 mb-4 text-center seachFriendAlign">
		<div class="container-fluid">
			<div class="row align-items-center text-align-right">
				<div class="col-lg-3">
					<p class="findFriend">Find a friend</p>
				</div>
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" aria-label="Username"
							aria-describedby="basic-addon1">
						<div class="input-group-append">
							<button type="button" class="btn btn-dark imgButton" id="ladder"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Modal Bootstrap Verena FD fenetre de droite bouton CONTACT -->
<div class="modal fade modCustom" data-backdrop="static" id="contactsModal" tabindex="-1" role="dialog"
	aria-labelledby="contactsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content custom-modal nightModalMod">
			<div class="modal-header">
				<h3 class="modal-title" id="contactsModalLabel">Liste des Contacts</h3>
				<button type="button" class="close modalCloseButton" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Contenu de la modale, par exemple ici la liste des contacts -->
				<ul>
					<li>Pseudo 1</li>
					<li>Pseudo 2</li>
					<!-- ... -->
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn modalButton modalNightButton">Invite</button>
				<button type="button" class="btn modalButton modalNightButton">Block</button>
				<button type="button" class="btn modalButton modalNightButton" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Bootstrap FD fenetre de droite bouton BLOCKED -->
<div class="modal fade modCustom modal-dialog-centered" data-backdrop="static" id="modalBlocked"
	aria-labelledby="modal-blocked" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content custom-modal blockedModalCustom nightModalMod">
			<div class="modal-header">
				<h3 class="modal-title">Blocked contact</h3>
				<button type="button" class="close modalCloseButton" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p class="pseudoBlock d-flex align-items-end">Pseudo 1 blocked
					<button class="unblockBtn" type="button" class="btn" data-toggle="tooltip" data-placement="top"
						title="Unblock the contact" alt="Button to unblock the contact"></button>
				</p>
				<p class="pseudoBlock d-flex align-items-end">Pseudo 2 blocked
					<button class="unblockBtn" type="button" class="btn" data-toggle="tooltip" data-placement="top"
						title="Unblock the contact" alt="Button to unblock the contact"></button>
				</p>
				<p class="pseudoBlock d-flex align-items-end">Pseudo 3 blocked
					<button class="unblockBtn" type="button" class="btn" data-toggle="tooltip" data-placement="top"
						title="Unblock the contact" alt="Button to unblock the contact"></button>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bg-vert modalButton modalNightButton" data-dismiss="modal"
					aria-label="close">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal Bootstrap STATISTICS FG -->
<div class="modal fade" data-backdrop="static" id="statsModal" tabindex="-1" role="dialog"
	aria-labelledby="statsModalLabel" aria-hidden="true">
	<div class="modal-dialog modCustom modal-dialog-centered" role="document">
		<div class="modal-content custom-modal nightModalMod">
			<div class="modal-header">
				<h3 class="modal-title" id="statsModalLabel">STATISTICS</h3>
				<button type="button" class="close modalCloseButton" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span></button>
				</button>
			</div>
			<div class="modal-body">

				<!-- Onglets -->
				<ul class="nav nav-tabs navCustom" id="myTabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link modNav active" id="onglet1-tab" data-bs-toggle="tab" href="#onglet1"
							role="tab" aria-controls="onglet1" aria-selected="true">Rank</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link modNav" id="onglet2-tab" data-bs-toggle="tab" href="#onglet2" role="tab"
							aria-controls="onglet2" aria-selected="false">Win</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link modNav" id="onglet3-tab" data-bs-toggle="tab" href="#onglet3" role="tab"
							aria-controls="onglet3" aria-selected="false">Match</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link modNav" id="onglet4-tab" data-bs-toggle="tab" href="#onglet4" role="tab"
							aria-controls="onglet4" aria-selected="false">Ratio</a>
					</li>
				</ul>

				<!-- Contenu des onglets -->
				<div class="tab-content">
					<div class="tab-pane fade show active tabCust" id="onglet1" role="tabpanel"
						aria-labelledby="onglet1-tab">
						6/10 <!--(rang par rapport aux amis)-->
					</div>
					<div class="tab-pane fade tabCust" id="onglet2" role="tabpanel" aria-labelledby="onglet2-tab">
						306 <!--(Nbr de victoires)-->
					</div>
					<div class="tab-pane fade tabCust" id="onglet3" role="tabpanel" aria-labelledby="onglet3-tab">
						612 <!--(Nbr de match)-->
					</div>
					<div class="tab-pane fade tabCust" id="onglet4" role="tabpanel" aria-labelledby="onglet4-tab">
						50% <!--(ratio Nbr de victoires sur nbr de match)-->
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn bg-vert modalButton modalNightButton" data-dismiss="modal"
						aria-label="close">Close</button>
				</div>
			</div>
		</div>
	</div>