{% load static %}
<script defer type="module" src="{% static 'js/profil.js' %}"></script>
<!-- Container GAUCHE btns options et stat -->
<div class="container text-center">
  <div class="row justify-content-around">
    <div class="container-option">
      <div class="row align-items-center justify-content-between">
        <button type="button" class="col-3 btn bg-vert" data-bs-toggle="modal" data-bs-target="#statsModal">Statistics</button>
        <img src="{% static 'img/stat/statistique.png' %}" alt="Statistics Icon" class="col-2 img-fluid icon" />
      </div>
      <br />
      <div class="row align-items-center justify-content-between">
        <button type="button" class="col-3 btn bg-vert" data-bs-toggle="modal" data-bs-target="#featsModal">Feats</button>
        <img src="{% static 'img/stat/feats.png' %}" alt="Feats Icon" class="col-2 img-fluid icon" />
      </div>
      <br />
      <div class="row align-items-center justify-content-between">
        <button type="button" class="col-3 btn bg-vert" data-bs-toggle="modal" data-bs-target="#matchModal">Match History</button>
        <img src="{% static 'img/stat/historique.png' %}" alt="Match History Icon" class="col-2 img-fluid icon" />
      </div>
      <br />
      <div class="row align-items-center justify-content-between">
        <button type="button" class="col-3 btn bg-vert" data-bs-toggle="modal" data-bs-target="#setModal">Settings</button>
        <img src="{% static 'img/stat/reglages.png' %}" alt="Settings Icon" class="col-2 img-fluid icon" />
      </div>
    </div>

    <div class="container-profil">
      <div class="profile-pic">
        <label class="-label" for="file">
          <span class="glyphicon glyphicon-camera"></span>
          <span>Change Image</span>
        </label>
        <input id="profil-picture" type="file" onchange="loadFile(event)" />
        {% comment %} <img src="{% static 'img/ajouter-une-image.png' %}" id="output" width="200" /> {% endcomment %}
        <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg" id="output" width="200" />
      </div>

      {% comment %} <form action="" class="row align-items-center justify-content-between">
        <img id="profilePicture" class="col-2" src="" alt="Profile Picture" />
        <input id="imageInput" type="file" accept="image/*" style="display: none;" />
        <button id="modifyImageButton" class="col-2 btn bg-vert modImg" type="button"></button>
      </form> {% endcomment %}

      <br />

      <form action="/profil/username/" method="post" class="row align-items-center justify-content-between">
        {% csrf_token %}
        <label class="col-2 col-form-label col-form-label-sm" for="username">Name</label>
        <div class="col-7">
					<input id="username" class="form-control form-control-sm" type="text" placeholder="{{ request.user.username }}" />
				</div>
        {% comment %} <input class="col-2 btn bg-vert" type="image" id="modifyUsernameButton" alt="ChangeUsername" src="{% static 'img/cocher.png' %}" /> {% endcomment %}
        <button id="modifyUsernameButton" class="col-2 btn bg-vert" type="submit">✓</button>
      </form>

      <br />

      <div class="row justify-content-between">
        <button type="button" class="col btn bg-vert" data-bs-toggle="modal" data-bs-target="#contactsModal">Contacts</button>
        <br />
        <button type="button" class="col btn bg-vert" data-bs-toggle="modal" data-bs-target="#modalBlocked">Blocked</button>
      </div>
    </div>
  </div>
</div>

<!-- BANNIERE BLEU EN BAS -->
<div class="container-info">
  <section class="py-4 mb-4 text-center seachFriendAlign">
    <div class="container-fluid">
      <div class="row align-items-center text-align-right miniMode">
        <div class="col-lg-3">
          <p class="findFriend">Find a friend</p>
        </div>
        <div class="col-lg-6">
          <div class="input-group input-group-custom">
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" />
            <div class="input-group-append">
              <button type="button" class="btn btn-dark imgButton" id="ladder"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal Bootstrap Verena FD fenetre de droite bouton CONTACT -->
<div class="modal fade overlay" data-bs-backdrop="static" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="contactsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal nightModalMod">
      <div class="modal-header">
        <h3 class="modal-title" id="contactsModalLabel">Contacts</h3>
        <button type="button" class="close modalCloseButton" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Contenu de la modale, ici la liste des contacts -->
        <p class="pseudoBlock d-flex align-items-end">
          Contact 1
          <button class="inviteContact" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Invite the contact" alt="Button to invite the contact"></button>
          <button class="blockBtn" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Block the contact" alt="Button to block the contact"></button>
        </p>
        <p class="pseudoBlock d-flex align-items-end">
          Contact 2
          <button class="inviteContact" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Invite the contact" alt="Button to invite the contact"></button>
          <button class="blockBtn" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Block the contact" alt="Button to block the contact"></button>
        </p>
        <p class="pseudoBlock d-flex align-items-end">
          Contact 3
          <button class="inviteContact" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Invite the contact" alt="Button to invite the contact"></button>
          <button class="blockBtn" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Block the contact" alt="Button to block the contact"></button>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn modalButton modalNightButton" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bootstrap FD fenetre de droite bouton BLOCKED -->
<div class="modal fade modal-dialog-centered overlay" data-bs-backdrop="static" id="modalBlocked" aria-labelledby="modal-blocked" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal blockedModalCustom nightModalMod">
      <div class="modal-header">
        <h3 class="modal-title">Blocked contact</h3>
        <button type="button" class="close modalCloseButton" data-bs-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="pseudoBlock d-flex align-items-end">
          Pseudo 1 blocked
          <button class="unblockBtn" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Unblock the contact" alt="Button to unblock the contact"></button>
        </p>
        <p class="pseudoBlock d-flex align-items-end">
          Pseudo 2 blocked
          <button class="unblockBtn" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Unblock the contact" alt="Button to unblock the contact"></button>
        </p>
        <p class="pseudoBlock d-flex align-items-end">
          Pseudo 3 blocked
          <button class="unblockBtn" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Unblock the contact" alt="Button to unblock the contact"></button>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-vert modalButton modalNightButton" data-bs-dismiss="modal" aria-label="close">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bootstrap STATISTICS FG -->
<div class="modal fade overlay" data-bs-backdrop="static" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal nightModalMod">
      <div class="modal-header">
        <h3 class="modal-title" id="statsModalLabel">STATISTICS</h3>
        <button type="button" class="close modalCloseButton" data-bs-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Onglets -->
        <ul class="nav nav-tabs navCustom" id="myTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link modNav active" id="onglet1-tab" data-bs-toggle="tab" href="#onglet1" role="tab" aria-controls="onglet1" aria-selected="true">Rank</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link modNav" id="onglet2-tab" data-bs-toggle="tab" href="#onglet2" role="tab" aria-controls="onglet2" aria-selected="false">Win</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link modNav" id="onglet3-tab" data-bs-toggle="tab" href="#onglet3" role="tab" aria-controls="onglet3" aria-selected="false">Match</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link modNav" id="onglet4-tab" data-bs-toggle="tab" href="#onglet4" role="tab" aria-controls="onglet4" aria-selected="false">Ratio</a>
          </li>
        </ul>

        <!-- Contenu des onglets -->
        <div class="tab-content">
          <div class="tab-pane fade show active tabCust" id="onglet1" role="tabpanel" aria-labelledby="onglet1-tab">
            6/10 <!-- (rang par rapport aux amis) -->
          </div>
          <div class="tab-pane fade tabCust" id="onglet2" role="tabpanel" aria-labelledby="onglet2-tab">
            306 <!-- (Nbr de victoires) -->
          </div>
          <div class="tab-pane fade tabCust" id="onglet3" role="tabpanel" aria-labelledby="onglet3-tab">
            612 <!-- (Nbr de match) -->
          </div>
          <div class="tab-pane fade tabCust" id="onglet4" role="tabpanel" aria-labelledby="onglet4-tab">
            50% <!-- (ratio Nbr de victoires sur nbr de match) -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-vert modalButton modalNightButton" data-bs-dismiss="modal" aria-label="close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bootstrap FEATS FG -->
<div class="modal fade overlay" data-bs-backdrop="static" id="featsModal" tabindex="-1" role="dialog" aria-labelledby="featsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal nightModalMod">
      <div class="modal-header">
        <h3 class="modal-title" id="statsModalLabel">FEATS</h3>
        <button type="button" class="close modalCloseButton" data-bs-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <!-- IMAGES ET TITRES DES ACCOMPLISSEMENTS en grisé si pas debloqué -->
        <p class="featModal d-flex align-items-end" title="Put 5pts on your opponent without taking a point">
          Osh
          <img class="featImg" src="{% static 'img/feats/5pts_pong1.png' %}" alt="Put 5pts on your opponent without taking a point" />
        </p>
        <p class="featModal d-flex align-items-end" title="Put 10pts on your opponent without taking a point">
          Merciless
          <img class="featImg" src="{% static 'img/feats/10pts_pong2.png' %}" alt="Put 10pts on your opponent without taking a point" />
        </p>
        <p class="featModal d-flex align-items-end" title="Bounce the ball 3 times before scoring the point">
          Stroke
          <img class="featImg" src="{% static 'img/feats/bounce_pong3.png' %}" alt="Bounce the ball 3 times before scoring the point" />
        </p>
        <p class="featModal d-flex align-items-end" title="Play with maximum ball and paddle speeds">
          Brisk
          <img class="featImg" src="{% static 'img/feats/speed_pong4.png' %}" alt="Play with maximum ball and paddle speeds" />
        </p>
        <p class="featModal d-flex align-items-end" title="Score the point on the serve">
          Service
          <img class="featImg" src="{% static 'img/feats/service_pong5.png' %}" alt="Score the point on the serve" />
        </p>
        <p class="featModal d-flex align-items-end" title="Complete 25 exchanges without losing the ball">
          Cooperate
          <img class="featImg" src="{% static 'img/feats/coop_pong6.png' %}" alt="Complete 25 exchanges without losing the ball" />
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-vert modalButton modalNightButton" data-bs-dismiss="modal" aria-label="close">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bootstrap MATCH FG -->
<div class="modal fade overlay" data-bs-backdrop="static" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal nightModalMod">
      <div class="modal-header">
        <h3 class="modal-title" id="statsModalLabel">MATCH HISTORY</h3>
        <button type="button" class="close modalCloseButton" data-bs-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <!-- INFO CONCERNANT LES MATCH - CONTRE QUI ONT A JOUE LE PLUS SOUVENT PAR EXEMPLE -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-vert modalButton modalNightButton" data-bs-dismiss="modal" aria-label="close">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Bootstrap SETTINGS FG -->
<div class="modal fade overlay" data-bs-backdrop="static" id="setModal" tabindex="-1" role="dialog" aria-labelledby="setModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal nightModalMod">
      <div class="modal-header">
        <h3 class="modal-title" id="setModalLabel">SETTINGS</h3>
        <button type="button" class="close modalCloseButton" data-bs-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <!-- Formulaire de paramètres -->
        <form>
          <div class="form-group formGroupCustom">
            <label for="paddleSpeed">Paddles speed <span class="crochets">[</span><span class="rangCust" id="paddleSpeedValue">50</span><span class="crochets">]</span></label>
            <input type="range" class="form-range rangeCustom" id="paddleSpeed" value="50" min="1" max="100" />
          </div>

          <!-- Paramètre 2 : Vitesse de la balle -->
          <div class="form-group formGroupCustom">
            <label for="ballSpeed">Ball speed <span class="crochets">[</span><span class="rangCust" id="ballSpeedValue">50</span><span class="crochets">]</span></label>
            <input type="range" class="form-range rangeCustom" id="ballSpeed" value="50" min="1" max="100" />
          </div>

          <!-- Paramètre 3 : Couleur des paddles et de la balle -->
          <div class="form-group formGroupCustom">
            <label for="paddleColor">Paddles color</label>
            <input type="color" class="form-control" id="paddleColor" />
          </div>
          <div class="form-group formGroupCustom">
            <label for="ballColor">Ball color</label>
            <input type="color" class="form-control" id="ballColor" />
          </div>

          <!-- Paramètre 4 : Fond du jeu -->
          <div class="form-group formGroupCustom">
            <label>Game background</label>
            <select class="form-control" id="backgroundColor">
              <option value="black">Black</option>
              <option value="purple">Violet</option>
              <option value="image1">Image 1</option>
              <option value="image2">Image 2</option>
            </select>
          </div>

          <!-- Paramètre 5 : Accessibilité -->
          <div class="form-check formCheckCustom">
            <input type="checkbox" class="form-check-input" id="highContrast" />
            <label class="form-check-label" for="highContrast">Increase contrast</label>
          </div>

          <!-- Paramètre 6 : 2FA -->
          <div class="form-check formCheckCustom">
            <input type="checkbox" class="form-check-input" id="enable2FA" />
            <label class="form-check-label" for="enable2FA">Enable two-factor authentication (2FA)</label>
          </div>

          <button type="button" class="btn btn-register modalNightButton" id="saveButton">Save</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn bg-vert modalButton modalNightButton" data-bs-dismiss="modal" aria-label="close">Close</button>
      </div>
    </div>
  </div>
</div>
