{% extends template %}
{% load static %}
{% block title %}
<title>TOURNAMENT #{{ tournament_id }}</title>
{% endblock %}
{% block content %}
<div id="app">
  <div class="container-fluid d-flex flex-row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <button id="start-game" class="btn btn-primary mb-2">Démarrer</button>
        <button id="stop-game" class="btn btn-danger mb-2">Arrêter</button>
        <button id="reset-game" class="btn btn-danger">Reset</button>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center mt-3">
      <div id="boardGame" class="tournamentContainer">
        <canvas id="gameBoard" width="800" height="650" tabindex="0" class="mx-auto"></canvas>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div id="scoreText" class="text-center">0 : 0</div>
    </div>
  </div>  
</div>

{% endblock %}