{% extends template %}
{% load static %}

{% block title %}
<title>USER</title>
{% endblock %}

{% block content %}
<div id="app">
	<div class="container text-center">
		<div class="row justify-content-around">
			<div class="container container-option d-flex flex-column">
				<iframe class="col videoCustom" width="auto" height="auto"
					src="https://www.youtube.com/embed/jxSvjnuBeRM?autoplay=1" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>

			<div class="container container-profil d-flex flex-column align-items justify-content-between">
				<div class="row align-items-center justify-content-between">
					<form id="profil-picture-form" action="/accounts/profil/picture/" method="post"
						class="col justify-content-start">
						<img src="{{ profil_picture_url }}" id="profil-picture" class="col-12 col profile-image-set" />
						{% csrf_token %}
						<input id="profil-picture-input" type="file" class="form-control" />
					</form>
					<form action="/accounts/profil/nickname/" method="post" class="col-8">
						{% csrf_token %}
						<div class="col">
							<span class="nicknameUser" id="nickname">{{ user.nickname }}</span>
						</div>
					</form>
				</div>


				<!-- Onglets -->
				<ul class="nav nav-tabs userStat flex-wrap" id="myTabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link modNavUser customUserTab show active" id="hist-tab" data-bs-toggle="pill"
							href="#matchHistory" role="tab" aria-controls="matchHistory"
							aria-selected="false">History</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link modNavUser customUserTab" id="match-tab" data-bs-toggle="pill" href="#match"
							role="tab" aria-controls="match" aria-selected="false">Match</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link modNavUser customUserTab" id="win-tab" data-bs-toggle="pill" href="#win"
							role="tab" aria-controls="win" aria-selected="false">Win</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link modNavUser customUserTab" id="ratio-tab" data-bs-toggle="pill" href="#ratio"
							role="tab" aria-controls="ratio" aria-selected="false">Ratio</a>
					</li>
				</ul>

				<!-- Contenu des onglets -->
				<div class="tab-content">
					<div class="tab-pane fade show active tabCustUser active" id="matchHistory" role="tabpanel"
						aria-labelledby="hist-tab">
						<button type="button" class="col-3 btn bg-vert userBtn" data-bs-toggle="modal"
							data-bs-target="#matchModal">Match History</button>
					</div>

					<div class="tab-pane fade tabCustUser" id="match" role="tabpanel" aria-labelledby="match-tab">
						{{ matches_played }} <!-- (Nbr de match) -->
					</div>
					<div class="tab-pane fade tabCustUser" id="win" role="tabpanel" aria-labelledby="win-tab">
						{{ wins }} <!-- (Nbr de victoires) -->
					</div>
					<div class="tab-pane fade tabCustUser" id="ratio" role="tabpanel" aria-labelledby="ratio-tab">
						{{ win_ratio }}% <!-- (ratio Nbr de victoires sur nbr de match) -->
					</div>
				</div>

				<div class="row align-items-center justify-content-around">
					<button type="button" class="col-lg-6 btn bg-vert userBtn invitation" data-bs-target="#addFriend" alt="Friend
					request" id="addFriend"> Friend request +</button>
					<br />
					<button type="button" class="col-lg-6 btn bg-vert userBtn invitation" data-bs-target="#BlockFriend"
						alt="Remove friend" id="removeFriend">Remove friend -</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Bootstrap MATCH FG -->
	<div class="modal fade overlay" data-bs-backdrop="static" id="matchModal" tabindex="-1" role="dialog"
		aria-labelledby="matchModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg-custom" role="document">
			<div class="modal-content custom-modal nightModalMod">
				<div class="modal-header">
					<h3 class="modal-title" id="statsModalLabel">MATCH HISTORY</h3>
					<button type="button" class="close modalCloseButton" data-bs-dismiss="modal"
						aria-label="close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<div class="matchHistory text-center">
						<div class="scrollable-container">
							<table class="table matchHistTable">
								<thead>
									<tr class="cadreTitreHist">
										<th class="titreHist">Date</th>
										<th class="titreHist">Game</th>
										<th class="titreHist">Opponent</th>
										<th class="titreHist">Score</th>
										<th class="titreHist">Result</th>
									</tr>
								</thead>
								<tbody>
									{% for match in matches %}
									<tr>
										<!-- <div class="match-item"> -->
										<td class="match-info tabHistory">{{ match.start_time|date }}</td>
										<!-- Date du match -->
										<td class="match-info tabHistory">{{ match.style }}</td>
										<!-- Style de jeu -->
										<td class="match-info tabHistory">{{ match.opponent }}</td>
										<!-- Nom de l'adversaire -->
										<td class="match-info tabHistory">{{ match.score.0 }} - {{ match.score.1 }}</td>
										<!-- Score du match -->
										<td class="match-info tabHistory {{match.result}}">
											{{match.result}}
										</td>
										<!-- Résultat du match -->
										<!-- </div> -->
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-info">
		<section class="py-4 mb-4 text-center seachFriendAlign">
			<div class="container-fluid">
				<div class="row align-items-center text-align-right miniMode">
					<div class="col-lg-3">
						<p class="findFriend">Find a friend</p>
					</div>
					<div class="col-lg-6">
						<!-- raph ajout -->
						<div class="list-contact-profile invisible-profile-y" id="listContact" list-contact-container>
						</div>

						<div class="input-group input-group-custom">
							<input type="text" class="form-control" name="nickname" id="searchInput"
								placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" />
							<div class="input-group-append">
								<a role="button" class="btn btn-dark btnCustomProfil" id="user" href="/user"
									data-link="/user" alt="Check user profil"> 👀 </a>
								<button type="button" class="btn btn-dark imgButton" id="ladder"
									alt="Add user as a friend" data-nickname="{{ request.user.nickname }}"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}