{% extends template %}
{% load static %}

{% block title %}
  <title>USER</title>
{% endblock %}

{% block content %}
  <div id="app">
    <div class="container text-center">
      <div class="row justify-content-around">
        <div class="container container-left-user">
          <!-- Video hébergée sur YouTube -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jxSvjnuBeRMautoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="container container-right-user">
          <div class="container-profile-info container-profile-info-user">
            <!-- Photo de profil -->
            <form id="profil-picture-form" action="/accounts/profil/picture/" method="post" class="col justify-content-start">
              {% if request.user.profilPictureUrl is not None %}
                <img src="{{ request.user.profilPictureUrl }}" id="profil-picture" class="col-12 profile-image-set" />
              {% else %}
                <img src="{% static 'img/profil/image-defaut.png' %}" id="profil-picture" class="col-12" />
              {% endif %}
              {% csrf_token %}
              <input id="profil-picture-input" type="file" class="form-control" />
            </form>
            <!-- Nom d'utilisateur -->
            <form action="/accounts/profil/username/" method="post" class="col-8">
              {% csrf_token %}
              <input id="username" class="form-control form-control-sm" type="text" placeholder="{{ request.user.username }}" />
              <button id="modifyUsernameButton" class="col-2 btn bg-vert" type="submit">✓</button>
              <button type="button" class="btn bg-vert col-4 d-flex" id="modifyImageButton"><img src="{% static '/img/ajouter-une-image.png' %}" alt="Modify Image" style="width: 28px; height: auto; filter: invert(1);"></button>
              <input type="file" accept="image/*" id="imageInput" style="display: none; border-radius: 20%;">
            </form>
          </div>

          <!-- Boutons -->
          <div class="row align-items-center justify-content-around">
            <!-- Bouton Statistiques -->
            <button type="button" class="btn bg-vert" data-bs-toggle="modal" data-bs-target="#statsModal" id="statsBtn">Statistics</button>
            <!-- Bouton Ajouter comme ami -->
            <button type="button" class="btn bg-vert" id="addFriendBtn">Add as Friend</button>
            <!-- Bouton Bloquer -->
            <button type="button" class="btn bg-vert" id="blockBtn">Block</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



<div class="container container-profil d-flex flex-column align-items justify-content-between">
  <div class="row align-items-center justify-content-between">
    <form id="profil-picture-form" action="/accounts/profil/picture/" method="post" class="col justify-content-start">
      {% if request.user.profilPictureUrl is not None %}
        <img src="{{ request.user.profilPictureUrl }}" id="profil-picture" class="col-12 col profile-image-set" />
      {% else %}
        <img src="{% static 'img/profil/image-defaut.png' %}" id="profil-picture" class="col-12 " />
      {% endif %}
      {% csrf_token %}
      <input id="profil-picture-input" type="file" class="form-control" />
    </form>
    <div class="col-8">
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <span id="username">{{ request.user.username }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
