.container_homeLeft {
	border-radius: 30px;
	background-color: #9016B2;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #87d300;
	margin: 5% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-btn {
	cursor: pointer;
}

.game-img {
	transition: transform 0.3s;
}

.game-btn:hover .game-img {
	transform: scaleY(-1);
}

.container_homeRight {
	border-radius: 30px;
	background-color: #87d300;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 300px;
	font-family: 'Titan One', sans-serif;
	color: #9016B2;
	margin: 5% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-btn {
	margin: auto;
	background: none;
	border: none;
	cursor: pointer;
}

.bulles-img {
	width: 100%;
	transition: transform 0.3s;
}

.chat-btn:hover .bulles-img {
	transform: scaleX(-1);
}
















.container-info {
	margin-bottom: 50px;
}

/* Styles spécifiques pour le login-container en mode nuit */
.night-mode .container_homeLeft {
	background-color: black;
	color: white;
}

@media (max-width: 1160px) {
	.flex-container {
		flex-direction: column;
	}

	.container_homeLeft,
	.container_homeRight {
		margin: 10px;
	}
}

@media (prefers-color-scheme: dark) {
	.night-mode .container_homeLeft {
		border: 3px solid white;
	}
}

.night-mode .container_homeRight {
	background-color: black;
	color: white;
}

@media (prefers-color-scheme: dark) {
	.night-mode .container_homeRight {
		border: 3px solid white;
	}
}

.night-mode .chat-btn .bulles-img {
	filter: invert(1);
}

.welcomeHome > :first-child {
    display: inline-block;              /* modèle de boîte en ligne */
    padding-right: 2em;                 /* un peu d'espace pour la transition */
    padding-left: 100%;                 /* placement à droite du conteneur */
    white-space: nowrap;                /* pas de passage à la ligne */
    animation: defilement-rtl 60s infinite linear;  /* Augmentation de la durée de l'animation à 60 secondes */
    padding-top: 5px;
    text-align: center !important;                 /* Centrage du texte */
	font-size: 45px !important;
	margin-top: 5px;
  

  animation-name: defilement-rtl;       /* référence à la règle @keyframes mise en oeuvre */
  animation-duration: 30s;              /* valeur à ajuster suivant la longueur du message */
  animation-iteration-count: infinite;  /* boucle continue */
  animation-timing-function: linear;    /* pas vraiment utile ici */
}

  @keyframes defilement-rtl {
	0% {
	  transform: translate3d(0,0,0);      /* position initiale à droite */
	}
	100% {
	  transform: translate3d(-100%,0,0);  /* position finale à gauche */
	}
  }